.notification-row {
    border-bottom: 1px solid #eee;
    align-items: center;
  }
  
  .notification-row.unread {
    background-color: #fde5c3;
  }
  
  .notification-message{
    width: 60%;
    padding: 0;
    margin: 0;
  }

  .notification-type{
    width: 13%;
  }
  .notification-time{
    width: 13%;
  }

  .notification-status{
    background-color: #ccc;
    color: white;
    padding: 4px 12px;
    border-radius: 20px;
  }  
  .notification-status.unread {
    background-color: goldenrod;
  }